@font-face {
	font-family: coffee;
	src: url("coffee icons.ttf");
}

@font-face{
	font-family: sandwich;
	src: url("Fast Food Icons.ttf");
}

@font-face{
	font-family: grocery;
	src: url("travelcons.ttf");
}

@font-face{
	font-family: boldFont;
	src: url("theboldfont.ttf");
}

@font-face{
	font-family: subwyay;
	src: url("subway-black.ttf");
}

.title {
	height: 150px;
	text-align: center;
	background-color: #f4ce42;
}

.title img {
	text-align:center;
	height: 100px;
	padding-top: 10px;
}

table {
	margin: 1em auto;
}

ul {
	font-family: subway;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: black;   
}

li {
	display:inline;
}

li a{
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    text-decoration-style:  none;
    font-size: 10px;
    text-decoration: none;
}

li a:hover{
	text-decoration: none;
	border-bottom: 2px solid black;
}

li a:visited{
	text-decoration-style:  none;
}

.coffee {font-family: coffee;	
}

.grocery {font-family: grocery;
	
}

.sandwich {font-family: sandwich;
	
}


.choices {
	text-align: center;
	display:inline-block;
	font-size: 50px;
	text-decoration: none;
}

.choices a {
	color: black;
	text-decoration: none;
}

a{
	color:black;
	text-decoration: none;
}

.choices a:hover{
	color:gray;
	font-size: 100px;
}


body {
	text-align: center;
}

.options {
	text-align: center;
	font-family: boldfont;
	font-size: 50px;
}

.options td {
	font-size: 20px;
	padding-left: 30px;
	padding-right: 30px;
}

.options th {
	font-size: 20px;
}

.address {text-decoration: underline;
font-family: subway;}

.input {
	font-family: boldfont;
	padding-top: 20px;
}